* {
  padding: 0.3rem;
  margin: 0.3rem;
  box-sizing: border-box;
  min-height: 200px; /* every element on the page becomes visible */
}

body {
  font-size: 3rem;
  color: white; /* so the text is visible on the colored backgrounds */
  text-align: center;
  width: 320px; /* to see the mobile view */
  margin: auto; /* to center the mobile */
}

#home,
#portfolio,
#contact,
.footer {
  background-color: red;
}

.navigation,
.student-name,
.navigation-menu,
.intro,
.card,
.card-image,
.card-heading,
.card-text,
.footer-name,
.footer-navigation,
.contact-heading,
.contact-content,
.contact-phone,
.contact-email,
.intro-text,
.intro-image {
  background-color: green;
  min-height: auto;
  font-size: 1rem;
}

.student-name,
.navigation-menu,
.intro-text,
.intro-image,
.card-image,
.card-heading,
.card-text {
  background-color: orange;
}

.navigation,
.footer,
.intro {
  display: flex;
  min-height: auto;
}

.student-name,
.navigation-menu,
.footer-name,
.footer-navigation,
.intro-text,
.intro-image {
  width: 50%;
  min-height: auto;
}
