* {
  padding: 0.5rem;
  margin: 0.3rem;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: white; /* so the text is visible on the colored backgrounds */
  text-align: center;

  /* to see the mobile view */
  /* width: 320px;  */

  /* to see mobile & tablet view */
  /* width: 768px; */

  /* to see mobile, tablet & desktop view */
  width: 1024px;

  /* to center the body */
  margin: auto;
}

#home,
#portfolio,
#contact,
.footer {
  background-color: red;
}

/* GREEN BOXES */
.navigation,
.student-name,
.navigation-menu,
.intro,
.intro-text,
.intro-image,
.card,
.card-image,
.card-heading,
.card-text,
.contact-heading,
.contact-content,
.contact-phone,
.contact-email,
.footer-name,
.footer-nav-mobile,
.footer-nav-tablet {
  background-color: green;
  min-height: auto;
}

/* ORANGE BOXES */
.student-name,
.navigation-menu,
.intro-text,
.intro-image,
.card-image,
.card-heading,
.card-text {
  background-color: orange;
}

/* CYAN COLOR BOXES */
.navigation-link,
.footer-nav-link {
  background-color: cyan;
  color: black;
}

/* FLEX CONTAINER */
.intro,
.footer,
.card-container {
  display: flex;
}

.intro,
.card-container {
  flex-direction: column;
}

/* FLEX ITEMS */
.footer-name,
.footer-nav-mobile {
  width: 50%;
}

/* HIDE footer-navigation-tablet */
.footer-nav-tablet {
  display: none;
}

/* ***************************** */
/* MEDIA QUERIES 1 - Tablet size */
/* ***************************** */
@media screen and (min-width: 768px) {
  .navigation-menu {
    display: flex;
    justify-content: center;
  }
  .intro {
    flex-direction: row-reverse;
  }
  .intro-image,
  .intro-text,
  .card {
    width: 50%;
  }
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    flex-basis: 45%;
    flex-grow: 1;
  }
  .footer {
    justify-content: space-between;
  }
  .footer-name {
    width: auto;
  }
  /* hide footer-nav-mobile */
  .footer-nav-mobile {
    display: none;
  }
  /* show footer-nav-tablet */
  .footer-nav-tablet {
    display: flex; /* to show the footer-nav-tablet + to create a flex container */
  }
}

/* ****************************** */
/* MEDIA QUERIES 2 - Desktop size */
/* ****************************** */
@media screen and (min-width: 1024px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .card {
    flex-basis: 30%;
  }
}
